/* .numbersOverflow {
  width: 1200px;
  overflow: scroll;
  padding: 5px;
}

.numbersOverflow span {
  margin-right: 3.5px;
} */

.paginator {
  margin: 10px;
}

.pageNumber {
  padding: 2px;
  border: 1px solid gray;
}

.pageNumber.selectedPage {
  font-weight: 700;
  border-color: black;
}
