.userPhoto {
  width: 100px;
  height: 100px;
}

.selectedPage {
  font-weight: 700;
}

.numbersOverflow {
  width: 1200px;
  overflow: scroll;
  padding: 5px;
}

.numbersOverflow span {
  margin-right: 3.5px;
}
