.nav {
  grid-area: n;
  background-color: burlywood;
  padding: 20px;
}

.item a {
  margin: 0 7px 10px 7px;
  color: white;
  text-decoration: none;
  font-size: large;
}

.item a:link {
  color: white;
}

.item a:visited {
  color: white;
}

.item a:hover {
  color: yellow;
}

.item a:active {
  color: orange;
}

.item a:global(.active) {
  color: red;
}
