/* img {
  width: 650px;
} */

.descriptionBlock {
  padding: 10px;
}

.image {
  max-width: 250px;
}

.contact {
  padding-left: 10px;
}

.formSummaryError {
  display: inline-block;
  border: 2px solid red;
  padding: 5px;
  color: crimson;
}
